/* ESTILO GLOBAL DE LA PÁGINA */
.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.body-container {
    flex: 1;
}

.container {
    padding: 10px;
}

.content-right {
    display: flex;
    justify-content: flex-end;
}
.content-center {
    display: flex;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.success-message {
    font-weight: bold;
    font-size: 20px;
    color: #008000;
}
.warning-message {
    font-weight: bold;
    font-size: 20px;
    color: red;
}


.btn {
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
.btn:hover {
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.btn:focus {
    outline:none;
    -moz-box-shadow: -1px -1px 4px 0px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: -1px -1px 4px 0px rgba(0, 0, 0, .5);
    box-shadow: -1px -1px 4px 0px rgba(0, 0, 0, .5);
}

.btn-yellowgreen {
    background-color: yellowgreen;
}
.btn-red {
    background-color: #c91d12;
}
.btn-green {
    background-color: #008000;
}
.btn-blue {
    background-color: #0A97CA;
}



/* ESTILO PARA LA BARRA DEL BUSCADOR */
.finder-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
    align-items: center;
}
.input {
    padding: 10px;
    border-radius: 10px;
}
.input:focus {
    outline:none;
}


/* ESTILO PARA LA TABLA */
.table {
    width: 100%;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.table > thead {
    background-color: gainsboro;
}
.table > thead > tr > th {
    font-weight: bold;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}
.table > thead > tr {
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.table > tbody > tr > td {
    padding-top: 15px;
    padding-bottom: 15px;
}
.sort-icon {
    border: none;
    background-color: transparent;
}
.sort-icon:focus {
    outline:none;
    color: yellowgreen;
}
.td-action {
    display: flex;
    flex-direction: row;
}



/* ESTILO PARA LA PAGINACIÓN */
.pagination {
    list-style: none;
    
}
.pagination > li {
    display: inline;
}
.pagination-button {
    background-color: yellowgreen;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 0 5px;
}
.pagination-button:hover {
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.pagination-button:focus {
    outline:none;
    -moz-box-shadow: -1px -1px 4px 0px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: -1px -1px 4px 0px rgba(0, 0, 0, .5);
    box-shadow: -1px -1px 4px 0px rgba(0, 0, 0, .5);
}